################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
*.pdb
/.vs/Calculator/v15
/.vs/Calculator/v17
